*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.nav-e
{
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    margin: 0 40px;
    font-size: 23px;
    color: black;
}
.nav-e:hover{
    text-decoration: none;
    color: black;
}

.nav-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: all 0.5s ease-in;
    color: rgb(39, 38, 38);
}
.nav-link:hover{
    font-size: 17px;
    color: rgb(33, 44, 21);
}
.btnstyle{
        background-image: linear-gradient(to right, #8893d6 0%, #54828b 100%), radial-gradient(circle at top left,#8893d6, #54828b);
        text-decoration: none;
        font-weight: 900;
        text-align: center;
        font-size: 16px;
        display: inline-block;
        border: double 2px transparent;
        box-shadow: 0 10px 30px rgba(136, 135, 143, 0.2); 
        border-radius: 5px;
        color: white;
        margin: 10px;
        padding: 6px 25px;
    }
.btnstyle:hover{
    text-decoration: none;
    border: 2px solid #7f84a0;
    color:#222;
    background-color: white;
    background-image: none;
    box-shadow: none;
}

.first{
    height: 550px;
}


  
.btn1{
    width: 235px;
    text-align: center;
    padding: 0px;
}
/* about */

.main{
    background-image: linear-gradient(to left, #ffffff 80%, #c2f6ef 20%);
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    position: relative;
    text-align: center;
    font-weight: 900;
    font-size:40px ;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.title h1::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: #111;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.title h1::after{
    
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 18px;
    color: #74bdb3 ;
    background: #fff;
    padding: 5px;
    transform: translateX(-50%);
}
.about .title h1::after{
    content: "Who I am";
}
.textside{
    padding-left: 50px;
}
.textside h1{
    padding: 0 0 5px 40px;
    color: rgb(61, 52, 52);
    font-weight: bold;
 
}
.texts{
    padding-left: 45px;
    font-size: 27px;
    font-weight: 500;
}
.texts span{
    color: #69aaa1;
}
.textside h4{
    padding: 50px 0 0 40px;
    font-variant: small-caps;
    font-size: 28px;
}
.textside p{
    padding: 10px 0 20px 40px;
    text-align: justify;
    font-size: 18px;
}
.picarea{
    display: flex;
    justify-content: center;
}
.img{
     transition: all 0.3s ease-in-out;
     height:440px; 
     width:440px;
   }
.img:hover{
    transform: rotate(0deg) skew(0deg) translate(-5px, -20px);
    height: 445px;
    width: 445px;
}
/* about end */
.description{
    margin-top: 90px;
}
.description .title h1::before{
    width: 280px;
    height: 4px;
}

.description .title h1::after{
    content: "Something More:";
    font-size: 25px;
}
.aboutInfo{
    padding: 10px;
    background-color: #474747;
    height: 400px;
    border: 3px solid #74bdb3;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 20px 30px rgba(109, 109, 110, 0.4);
}
.aboutInfo .details span{
    color: #74bdb3;
    font-weight: bold;
    font-size: 16px;
}
.aboutInfo::-webkit-scrollbar {
    width: 14px;
    scroll-behavior: smooth;
  }
  
  /* Track */
  .aboutInfo::-webkit-scrollbar-track {
    background: #666666;
    border-radius: 25px;
  }
  
  /* Handle */
  .aboutInfo::-webkit-scrollbar-thumb {
      border-radius: 15px;
    background: rgb(148, 148, 148);
  }
  
  /* Handle on hover */
  .aboutInfo::-webkit-scrollbar-thumb:hover {
    background:  #818181; 
  }
.aboutInfo span{
    padding: 40px;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
}
.aboutInfo .btnstyle{
        font-size: 15px;
        letter-spacing: 0.5px;
        padding: 4px 20px;
        float: right;
        margin: 0 60px;
}  

/* education starts here */
.education{
    margin-top: 100px;
}
.education .title h1{
    margin-bottom: 10px;
}
.education .title h1::before{
    width: 220px;
    height: 4px;
}
.education .title h1::after{
    content: "Education:";
    font-size: 30px;
}
.timeline{
    margin-top: 25px;
  }
.timeline-content {
    position: relative;
  }
  .timeline-content:last-child:before {
    height: 0;
  }
  .timeline-content:before {
    content: "";
    background: #58585f;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
  }
  
  .timelineIcon {
    background: #58585f;
    border-radius: 100%;
    position: absolute;
    left: 47.55%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  .timelineIcon i {
    color: #ffffff;
    font-size: 32px;
    display: block;
    line-height: 70px;
  }
  
  .education-info{
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    background-color: #58585f;
    color: white;
    padding: 15px;
    margin-top: 20px;
  }
  .even{
    margin-left: 24%;
    margin-top: 25px;
    border-radius: 20px 0px 20px 20px;
  }
  .odd{
    margin-left: 53.5%;
    border-radius: 0px 20px 20px 20px;
  }
  .education-info p{
    color: rgb(197, 214, 214);
  }
 .comma{
   font-size: 18px;
   color:rgb(151, 188, 223) ;
 }
  .education-info small {
    color: rgb(151, 188, 223);
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }


/* skills start */
.skills{
    margin: 100px 0;
    height: 500px;
}

.skills .title h1::after{
    content: "What I Know";
}
.skills-content{
    background-image: linear-gradient(to right, #ffffff 80%, #c2f6ef 20%);
    margin: 50px 0;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
    
}
.skills .skills-content .left{
    padding-left: 80px;
}
.skills .skills-content .right{
    padding-right: 80px;
}
.skills .skills-content .right .text{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right p{
    text-align: justify;
    font-size: 18px;
    color: rgb(83, 82, 82);
}

.skills .skills-content .left .bars{
    margin-bottom: 15px;
}
.skills .skills-content .left .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .left span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .left .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    
    
}
.skills .skills-content .left .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #74bdb3;
  
}
.skills-content .left .html::before{
    width: 95%;
}
.skills-content .left .css::before{
    width: 75%;
}
.skills-content .left .bstrap::before{
    width: 70%;
}
.skills-content .left .js::before{
    width: 55%;
}
.skills-content .left .php::before{
    width: 50%;
}
.skills-content .left .py::before{
    width: 65%;
}

  



/* skills end */

.social-menu ul {
    position: relative;
    align-items: center;
    justify-content: center;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin-top: 40px;
    display: flex;
} 
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 22px;
    line-height: 34px;
    transition: 0.2s;
}
 .social-menu ul li .fa:hover {
    color: #ffffff;
} 
.social-menu ul li a {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.3s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #25D366;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #272626;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(6) a:hover {
    background-color: #0077B5;
}


